<h1>Downloads</h1>
<mat-nav-list>
		<h3 matSubheader>1.11.2</h3>
		<a mat-list-item href="https://github.com/Chan4077/First-Mod/releases/download/v1.2.1/First_Mod-1.11.2-1.2.1.jar" download>
			<mat-icon matListIcon>file_download</mat-icon>
			<span matLine>v1.2.1 (<strong>latest</strong>)</span>
		</a>
		<a mat-list-item href="https://github.com/Chan4077/First-Mod/releases/download/v1.2/First_Mod-1.11.2-1.2.jar" download>
			<mat-icon matListIcon>file_download</mat-icon>
			<span matLine>v1.2</span>
		</a>
		<h3 matSubheader>1.10.2</h3>
		<a mat-list-item href="https://github.com/Chan4077/First-Mod/releases/download/v1.1/First_Mod-1.10.2-1.1.jar" download>
			<mat-icon matListIcon>file_download</mat-icon>
			<span matLine>v1.1 (<strong>unsupported</strong>)</span>
		</a>
</mat-nav-list>